
<div class="container-fluid body1">
    <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-sm" >
          <a href="/" class="navbar-brand logo"  style="color: #fcf9f9;
            font-weight: bolder; font-size: 24px;" 
            routerLink="/" routerLinkActive="active">HOMEPAGE
         </a> 
         <li><a href="#github" class="navbar-link" style="color: #eeeaea; 
                font-weight: bolder; font-size: 17px;" >Search </a>
         </li>      
    </nav>
    <div class="row ">
       <h2 class="heading2"> Welcome to Github </h2>
       <h3 class="heading3">Where you can search users profile and repos</h3>
       <a href="#github" class=" btn1 btn btn-secondary">Let's Search</a>
    </div>
</div>

