
<div class="container-fluid body1">
    <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-sm" >
          <a href="/" class="navbar-brand logo"  style="color: #fcf9f9;
            font-weight: bolder; font-size: 26px;" 
            routerLink="/" routerLinkActive="active"><img src="../../../assets/images/image .png" width="30px">GITHUBSEARCH
         </a> 
         <li appGithub >
            <a href="#github" style="color: #eeeaea; 
                font-weight: bolder; font-size: 23px; padding: 2px; text-decoration: none;" 
                >Search
            </a>
         </li>      
    </nav>
    <div class="row ">
       <h2 class="heading2"> WELCOME TO GITHUB </h2>
       <h2 class="heading3">Where You Can Search Users Profile & Repos !</h2>
       <a href="#github" class=" btn1 btn btn-secondary" style="font-weight: bold;">Let's Search</a>
    </div>
</div>

